@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: 'Signika Negative', sans-serif;
}

.tiptap > * {
	all: revert;
}
.tiptap {
	@apply h-full focus-within:bg-background-alt outline-none hover:bg-background-alt p-2 rounded-sm;

	 
}

.editor-wrapper > :first-child {
	@apply h-full; /* Ensure the first child (dynamic div) stretches fully */
}

.markdown > * {
	all: revert;
}

@layer base {
  :root {
		--radius: 0.5rem;
	}
}
