@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
	font-family: 'Signika Negative', sans-serif;
}

.tiptap {
  @apply focus-within:bg-background-alt bg-background hover:bg-background-alt h-full min-h-0;
}
 

.mantine-RichTextEditor-root {
  height: 100%;
  border: none;
}

.mantine-RichTextEditor-content {
  height: 100%;
}

.mantine-RichTextEditor-typographyStylesProvider {
  height: 100%;
}
